.stores-page {
  margin: 0px;
  padding: 0px;
  min-width: 1146px;

  font-weight: 400;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
}

@media (min-width: 992px) {
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-xl-1 { flex-basis: 8.3333%; }
  .col-xl-2 { flex-basis: 16.6666%; }
  .col-xl-3 { flex-basis: 25%; }
  .col-xl-4 { flex-basis: 33.3333%; }
  .col-xl-5 { flex-basis: 41.6666%; }
  .col-xl-6 { flex-basis: 50%; }
  .col-xl-7 { flex-basis: 58.3333%; }
  .col-xl-8 { flex-basis: 66.6666%; }
  .col-xl-9 { flex-basis: 75%; }
  .col-xl-10 { flex-basis: 83.3333%; }
  .col-xl-11 { flex-basis: 91.6666%; }
  .col-xl-12 { flex-basis: 100%; }

  .container {
    margin: 0 auto;
    padding: 0 0;
    width: 976px;
  }

  .header-menu {
    padding: 0;
  }

  .header-menu__logo-link {
    margin-right: 121px;
  }

  .header-menu__logo-svg {
    width: 121px;
    height: 13px;
  }

  .time-form__button {
    width: 65px;
    height: 40px;
    margin-right: 9px;

    line-height: 24px;
    font-size: 16px;
    color: #1D1D1D;

    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background-color: white;
  }

  .header-menu__to-adress {
    margin-right: 9px;
  }

  .adress-form {
    margin-right: 92px;
  }

  .user-navigation__sign-in {
    width: 80px;
    height: 40px;
    margin-right: 16px;

    line-height: 24px;
    font-size: 13px;
    color: #1D1D1D;

    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background-color: white;
  }

  .user-navigation__register {
    width: 80px;
    height: 40px;
    margin-right: 27px;

    line-height: 24px;
    font-size: 13px;
    color: white;

    border: 0px;
    border-radius: 2px;

    background-color: #262626;
  }

  .basket {
    align-self: center;
    padding: 20px 10px;
  }

  .stores-search {
    padding-top: 32px;
  }

  .restaurants {
    margin-bottom: 80px;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stores-page-main {
  background-color: #F2F2F2;
}

.stores-search {
  display: flex;
  flex-direction: column;
}

.stores-search-field {
  display: flex;
  flex-direction: row;
}

.stores-search__separator {
  width: 100%;

  color: rgba(117, 117, 117, 0.3);
  }

.stores-choice__header {
  margin-bottom: 16px;

  font-weight: 400;
  line-height: 34px;
  font-size: 22px;
}

.restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 80px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;
}

.restaurant-card__name {
  line-height: 24px;
  font-size: 16px;
  color: #1D1D1D;
}

.restaurant-card__inner {
  display: flex;
  flex-direction: row;
}

.restaurant-card__class {
  line-height: 21px;
  font-size: 14px;
  color: #626262;
}

.cuisine-list {
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;

  line-height: 21px;
  font-size: 14px;
  color: #626262;
}

.cuisine-list__item {
  margin-left: 5px;

  list-style: none;
}

.cuisine-list__item::before {
  content: '•';
  margin-right: 5px;
}

.restaurant-card__time {
  margin-bottom: 20px;

  line-height: 21px;
  font-size: 13px;
  color: #1D1D1D;
}

.stores-footer {
  padding-top: 56px;

  background-color: #262626;
  color: white;
}

.stores-footer__inner {
  display: flex;
  flex-direction: column;
}

.stores-footer__logo {
  width: 192px;
  height: 20px;

  margin-bottom: 40px;
}

.stores-footer__separator {
  width: 100%;

  color: rgba(255, 255, 255, 0.4);
}

.footer-menu {
  display: flex;
  flex-direction: row;

  font-size: 13px;
}

.footer-menu-main {
}

.footer-menu-main__region-form {
  margin: 32px 0;
}

.footer-menu-main__ubereats-hashtag {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 19px;
}

.footer-menu-main__hash {
  margin-right: 3px;
  color: #49A144;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-media__item {
  margin-right: 15px;
}

.footer-menu-about {
  margin-top: 39px;

  list-style: none;
}

.footer-menu-about__item {
  margin-bottom: 23px;
}

.footer-menu-about__link {
  text-decoration: none;
  color: white;
}

.footer-menu-about__link:hover {
  color: rgba(255, 255, 255, 0.4);
}

.footer-menu-help {
  margin-top: 39px;

  list-style: none;
}

.footer-menu-help__item {
  margin-bottom: 23px;
}

.footer-menu-help__link {
  text-decoration: none;
  color: white;
}

.footer-menu-help__link:hover {
  color: rgba(255, 255, 255, 0.4);
}

.footer-apps {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 40px auto;
}

.footer-apps__item {
  margin: 0 21px;
}

.footer-menu_height_small {
  padding: 40px 0;
}

.footer-menu__copyright {
  margin: 0;
  padding: 0;
}

.footer-menu__privacy {
  text-decoration: none;
  color: white;
}

.footer-menu__privacy:hover {
  color: rgba(255, 255, 255, 0.4);
}

.footer-menu__terms {
  text-decoration: none;
  color: white;
}

.footer-menu__terms:hover {
  color: rgba(255, 255, 255, 0.4);
}
